<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
  <dict>
    <key>replace</key>
    <string>-ms</string>
    <key>on</key>
    <integer>1</integer>
    <key>with</key>
    <string>Matias Singers</string>
  </dict>
  <dict>
    <key>replace</key>
    <string>altsym</string>
    <key>on</key>
    <integer>1</integer>
    <key>with</key>
    <string>⌥</string>
  </dict>
  <dict>
    <key>replace</key>
    <string>capssym</string>
    <key>on</key>
    <integer>1</integer>
    <key>with</key>
    <string>⇪</string>
  </dict>
  <dict>
    <key>replace</key>
    <string>cmdsym</string>
    <key>on</key>
    <integer>1</integer>
    <key>with</key>
    <string>⌘</string>
  </dict>
  <dict>
    <key>replace</key>
    <string>ctrlsym</string>
    <key>on</key>
    <integer>1</integer>
    <key>with</key>
    <string>⌃</string>
  </dict>
  <dict>
    <key>replace</key>
    <string>delsym</string>
    <key>on</key>
    <integer>1</integer>
    <key>with</key>
    <string>⌫</string>
  </dict>
  <dict>
    <key>replace</key>
    <string>downarrow</string>
    <key>on</key>
    <integer>1</integer>
    <key>with</key>
    <string>↓</string>
  </dict>
  <dict>
    <key>replace</key>
    <string>ejectsym</string>
    <key>on</key>
    <integer>1</integer>
    <key>with</key>
    <string>⏏</string>
  </dict>
  <dict>
    <key>replace</key>
    <string>endsym</string>
    <key>on</key>
    <integer>1</integer>
    <key>with</key>
    <string>↘︎</string>
  </dict>
  <dict>
    <key>replace</key>
    <string>entersym</string>
    <key>on</key>
    <integer>1</integer>
    <key>with</key>
    <string>⌅</string>
  </dict>
  <dict>
    <key>replace</key>
    <string>escapesym</string>
    <key>on</key>
    <integer>1</integer>
    <key>with</key>
    <string>⎋</string>
  </dict>
  <dict>
    <key>replace</key>
    <string>forwarddelsym</string>
    <key>on</key>
    <integer>1</integer>
    <key>with</key>
    <string>⌦</string>
  </dict>
  <dict>
    <key>replace</key>
    <string>homesym</string>
    <key>on</key>
    <integer>1</integer>
    <key>with</key>
    <string>↖︎</string>
  </dict>
  <dict>
    <key>replace</key>
    <string>leftarrow</string>
    <key>on</key>
    <integer>1</integer>
    <key>with</key>
    <string>←</string>
  </dict>
  <dict>
    <key>replace</key>
    <string>omw</string>
    <key>on</key>
    <integer>1</integer>
    <key>with</key>
    <string>On my way!</string>
  </dict>
  <dict>
    <key>replace</key>
    <string>pagedownsym</string>
    <key>on</key>
    <integer>1</integer>
    <key>with</key>
    <string>⇟</string>
  </dict>
  <dict>
    <key>replace</key>
    <string>pageupsym</string>
    <key>on</key>
    <integer>1</integer>
    <key>with</key>
    <string>⇞</string>
  </dict>
  <dict>
    <key>replace</key>
    <string>returnsym</string>
    <key>on</key>
    <integer>1</integer>
    <key>with</key>
    <string>↩</string>
  </dict>
  <dict>
    <key>replace</key>
    <string>rightarrow</string>
    <key>on</key>
    <integer>1</integer>
    <key>with</key>
    <string>→</string>
  </dict>
  <dict>
    <key>replace</key>
    <string>shiftsym</string>
    <key>on</key>
    <integer>1</integer>
    <key>with</key>
    <string>⇧</string>
  </dict>
  <dict>
    <key>replace</key>
    <string>spacesym</string>
    <key>on</key>
    <integer>1</integer>
    <key>with</key>
    <string>␣</string>
  </dict>
  <dict>
    <key>replace</key>
    <string>tabsym</string>
    <key>on</key>
    <integer>1</integer>
    <key>with</key>
    <string>⇥</string>
  </dict>
  <dict>
    <key>replace</key>
    <string>uparrow</string>
    <key>on</key>
    <integer>1</integer>
    <key>with</key>
    <string>↑</string>
  </dict>
</array>
</plist>
